<!-- Used by theme-bio-builtin-1 -->

{% if site.data.bio.work %}
<div class="row">
  <div class="two wide column">
    <h3 class="ui left aligned header no-bottom">Work</h3>
  </div>

  <div class="fourteen wide column no-bottom">
    {% for entry in site.data.bio.work %}

    <div class="ui grid">
      <div class="fourteen wide column no-bottom">
        <p class="ui no-bottom"><b>{{ entry.position }}, {{ entry.company }}</b></p>
        <p class="ui no-bottom">{{ entry.summary }}</p>

        {% if entry.highlights %}
          <ul style="margin: 0px; padding-left: 15px">
            {% for highlight in entry.highlights %}
            <li>{{ highlight }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if entry.skills %}
          <p class="ui no-bottom">
            <u>Technologies/Skills</u>: 

            {% for skill in entry.skills %}
              {{ skill }}{% if forloop.last != true %}, {% endif %}
            {% endfor %}
          </p>
        {% endif %}

        {% if entry.projects %}
          <p class="ui no-bottom">
            <u>Projects</u>: 

            {% for project in entry.projects %}
              {{ project }}{% if forloop.last != true %}, {% endif %}
            {% endfor %}
          </p>
        {% endif %}
      </div>
      <div class="two wide right aligned column no-bottom">
        <p class="ui no-bottom"><b>
          {% if entry.startDate %}
            {{ entry.startDate | date: "%b %Y" }}
          {% endif %}
          {% if entry.startDate and entry.endDate %}
          -
          {% endif %}
          {% if entry.endDate %}
            {% if entry.endDate != "Present" %}
              {{ entry.endDate| date: "%b %Y"  }}
            {% else %}
              {{ entry.endDate }}
            {% endif %}
          {% endif %}
        </b></p>
      </div>
    </div>

    {% endfor %}
  </div>
</div>
{% endif %}